@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: 'Eina01Semibold';
    src: url('../public/einafont/Eina01-Semibold.ttf');
}

@font-face { 
    font-family: 'Eina01Bold';
    src: url('../public/einafont/Eina01-Bold.ttf');
}

@font-face { 
    font-family: 'Eina01Regular';
    src: url('../public/einafont/Eina01-Regular.ttf');
}

:root {
    --animate-delay: 0.2s;
}

.imgs{
    --animate-duration: 10s;
}

.imgs img{
    --animate-duration: 3s;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Eina01Regular';
    background-color: #F2F7F8;
    color: #122231;
    overflow-x: hidden;
    position: relative;
}


.link span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 6px;
    background-color: rgba(247, 247, 247, 0.781);
    transition: .5s ease-in-out;
}
.seclink span::after{
    background-color: #3131319a;
}

.link:hover span::after{
    width: 100%;
}

.featured{
    background: linear-gradient(180deg,#f2f8f4,#fff 33.01%);
}

footer h3{
    cursor: pointer;
}